{% extends_admingenerated "NitraProductSeparationBundle:NewestNew:index.html.twig" %}

{% block javascript_head%}
    {{ parent() }}
    {% if form.color is defined %}
        {% javascripts '@NitraProductBundle/Resources/public/js/loadColors.js' %}
            <script src="{{ asset_url }}"></script>           
        {% endjavascripts %}
        <script type="text/javascript">
            $(document).ready(function(){
                $('#{{ form.color.vars.id }}').loadColors({
                    path:       '{{ path("Nitra_ProductBundle_loadColors") }}'
                });
            });
        </script>
    {% endif %}
{% endblock %}