{% extends_admingenerated "NitraProductSeparationBundle:NewestList:row.html.twig" %}
{% block list_td_column_image %}<img src="{{  Product.image }}" style="max-height: 100px; max-width:100px;">{% endblock %}