{% extends_admingenerated "NitraProductSeparationBundle:NewestEdit:form.html.twig" %}

{% use 'NitraProductBundle:ProductList:overridenFormBlocks.html.twig' %}

{% block form_model %}
    {{ parent() }}{{ block('nl_form_model') }}
{% endblock form_model %}

{% block form_actions %}
    {{ parent() }}{{ block('nl_form_actions') }}
{% endblock form_actions %}